body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
}
h1,
h2,
h3,
h4,
h5 {
  color: #4b2b41;
}
nav {
  top: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  box-shadow: 1px 1px 8px rgba(88, 88, 88, 0.25);
}
nav .title {
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bolder;
  background: #4b2b41;
  color: white;
  margin: 0 auto 0 auto;
}
.jumbotron p {
  font-size: 18px;
}
.jumbotron:first-of-type {
  background: transparent;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.search {
  padding-bottom: 20px;
  padding-top: 20px;
}
.search .form-control,
.search #search-div {
  width: 100%;
}
.search .form-control {
  font-size: 30px;
}
.logo {
  opacity: 0.7;
  cursor: pointer;
}
.logo:hover {
  opacity: 1;
}
.facebooklink {
  text-align: center;
}
#result-summary {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
  text-align: center;
}
.entry {
  margin-bottom: 30px;
}
.entry a {
  font-size: 21px;
}
